.root-folder {
    color: #c2c2d6;
    font-size: 9.5px;
    padding: 3px 0px 3px 2%;
    cursor: pointer;

    &:hover {
        background-color: #525F7B;
    }
}

.explorer-item {
    color: #c2c2d6;
    font-size: 9.5px;
    
    cursor: pointer;
    display: block;

    &:hover {
        background-color: #525F7B;
    }
}

.explorer-item-container {
    display: block;
    position: relative;
    padding: 3px 0px 3px 5%;

    &:hover {
        background-color: #525F7B;
    }
}