.explorer-header {
    color: #26C9B8;
    font-size: 12px;
    margin-left: 30%;
    padding-top: 10px;
    user-select: none;
    cursor: default;
}

.file-explorer-wrapper {
    height: 97%;
}

.file-explorer-content {
    height: 100%;
    overflow-y: auto;
}

.file-explorer-content::-webkit-scrollbar {     
    background-color: transparent;
    width: .4em;
}

.file-explorer-content::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:  #21AB9D;
}