body {
    margin: 0px 0px 0px 0px;
}

.main-window-container {
    height: 100vh;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.side-menu-container {
    width: 15%;
    height: 100%;
    background-color: #29343f;
    resize: horizontal;
    overflow-y: auto
}

.editor-window-container {
    flex: 1;
}